.galleryMain{
    background-color: #e1e2e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainPart{
    display: flex;
    justify-content: center;
}

.galleryRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 60vh;
}

.amenityImage{
    height: 50vh;
    width: 62vw;
    object-fit: cover;
}

.picDescribe{
    width: 25%;
}

.picTitle{
    font-size: 2.3rem;
    font-weight: 700;
    margin: 0;
    line-height: 2.5rem;
    color: #005247;
}

.picBtn{
    font-size: .9rem;
    line-height: 2rem;
    width: 42%;
    background-color: #e1e2e2;
}

.picMoreBtn{
    width: 15%;
    text-align: center;
    font-size: .9rem;
    line-height: 2.3rem;
    background-color: #fb8122;
    color: white;
    border: none;
}

.picMoreBtn:hover{
    background-color: #005247;
}